<div class="sidebar-container">
    <app-sidebar></app-sidebar>
  
    <div class="content-container">
      <div class="form-body">
        <div class="row">
          <div class="form-holder shadow-lg">
            <div class="form-content">
              <div class="form-items text-center">
                <h3 class="mb-4" style="color: #af9453;">User Profile</h3>
                <p>View your profile details below.</p>
  
                <!-- Profile Picture Section -->
                <div class="profile-picture-container">
                  <img
                    src="assets/pic.png"
                    alt="Profile Picture"
                    class="profile-picture"
                  />
                </div>
  
                <!-- Profile Details -->
                <div class="profile-details mt-4">
                  <p><strong>Name:</strong> {{ user?.name }}</p>
                  <p><strong>Email:</strong> {{ user?.email }}</p>
                  <p><strong>Contact Info:</strong> {{ user?.phoneNumber || 'Not Provided' }}</p>
                  <p><strong>Role:</strong> {{ role }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  