<div class="outer-container" >
    <div class="container" [ngClass]="{'right-panel-active': isSignUpActive}" id="container">
        <div class="form-container sign-up-container">
            <form (ngSubmit)="onSignUp(signUpForm)" #signUpForm="ngForm" style="	margin-top: 10px;">
                <h1>Create Account</h1>
                
                <input type="text" placeholder="Name" name="name" ngModel required />
                <input type="tel" placeholder="Mobile Number" name="phone" ngModel required />
                <input type="email" placeholder="Email" name="email" ngModel required />
                <input type="password" placeholder="Password" name="password" ngModel required />
              
                <div class="d-flex" style="margin-block: 8px;">
                  <label class="d-flex" for="admin">
                    <input type="radio" id="admin" name="role" value="Admin" ngModel /> Admin
                  </label>
                  <label class="d-flex" for="vendor">
                    <input type="radio" id="vendor" name="role" value="Vendor" ngModel /> Vendor
                  </label>
                  <label class="d-flex" for="host">
                    <input type="radio" id="host" name="role" value="Host" ngModel /> Host
                  </label>
                </div>
                
                <button type="submit">Sign Up</button>
                <div class="social-container">
                  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                

              </form>
                      </div>
                      <div class="form-container sign-in-container" *ngIf="!isSignUpActive">
                        <form (ngSubmit)="onSignIn(signInForm)" #signInForm="ngForm">
                          <div class="icon" (click)="navigateToMain()">
                            <i class="fa fa-arrow-circle-left" style="font-size:36px;color:#af9453"></i>

                          </div>

                          <h1>Sign In</h1>
                         
                          <input type="email" name="email" placeholder="Email" ngModel required />
                          <input type="password" name="password" placeholder="Password" ngModel required />
                          <a href="#">Forgot your password?</a>

                          <div class="social-container">
                            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                          </div>
                          <button type="submit" [disabled]="signInForm.invalid">Sign In</button>
                        </form>
                      </div>
                              <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1 class="white-text">Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" (click)="switchToSignIn()">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1 class="white-text">Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" (click)="switchToSignUp()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
